.vs/Pacman_game_SDL3/v17/Browse.VC.db
.vs/Pacman_game_SDL3/v17/ipch/AutoPCH/a3030731549acb44/MAIN.ipch
.vs/Pacman_game_SDL3/FileContentIndex/016303cf-41d8-4953-8654-ff5ce6eee4c8.vsidx
.vs/Pacman_game_SDL3/FileContentIndex/5f5957ae-48b1-4d30-9141-793a6e4e96af.vsidx
.vs/Pacman_game_SDL3/v17/Browse.VC.opendb
